VERCEL_PROJECT_ID=prj_XQRfdexiATAyEmQObSTcGNwa1KnB
VERCEL_ORG_ID=team_efbjBLjYMoLNppr2HnhvKyUq
BLOG_REPO_PATH=/home/paranthaman/Projects/automated-blogger/blog
DRAFTS_PATH=/home/paranthaman/Projects/automated-blogger/drafts
DOCUMENTS_PATH=/home/paranthaman/Projects/automated-blogger/documents
DASHBOARD_URL=http://localhost:3210
DASHBOARD_PORT=3210
NODE_ENV=development
